/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron {
  background: url("./images/bg-home.png");
}

.btn-blue {
  border-radius: 0.3rem;
  border: 0.18rem solid #0e67ec !important;
  color: white !important;
  background-color: #0e67ec !important;
  font-size: medium;
  width: 7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-blue:hover {
  border: 0.18rem solid #074cb4 !important;
  background-color: #074cb4 !important;
  color: rgb(209, 209, 209) !important;
}

.btn-white {
  border-radius: 0.3rem;
  border: 0.18rem solid white !important;
  background-color: white !important;
  color: black !important;
  width: 7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-white:hover {
  border: 0.18rem solid rgb(231, 231, 231) !important;
  background-color: rgb(231, 231, 231) !important;
  color: #0e67ec !important;
}

span:hover {
  background-color: rgb(202, 202, 202) !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle {
  background-color: white !important;
  border-color: white !important;
}

/* .animate-character {
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
   display: inline-block; 
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} */
